// Media breakpoints
break-sm-up = 576px
break-md-up = 768px
break-lg-up = 992px
break-xl-up = 1200px

break-sm-down = 575.98px
break-md-down = 767.98px
break-lg-down = 991.98px
break-xl-down = 1199.98px

// Media Query Up
sm-up = "(min-width: " + break-sm-up + ")"
md-up = "(min-width: " + break-md-up + ")"
lg-up = "(min-width: " + break-lg-up + ")"
xl-up = "(min-width: " + break-xl-up + ")"

// Media Query Down
sm-down = "(max-width: " + break-sm-down + ")"
md-down = "(max-width: " + break-md-down + ")"
lg-down = "(max-width: " + break-lg-down + ")"
xl-down = "(max-width: " + break-xl-down + ")"
