.button, input[type=submit]
  position relative
  z-index 0
  width max-content
  padding s-2
  // Transparent border prevents buttons from being different sizes with and without borders
  border 1px solid transparent
  font-size 1rem
  font-weight 400
  transition trans-button

.button:hover, input[type=submit]:hover
  cursor pointer
